@import "@blocknote/core/fonts/inter.css";
@import "@blocknote/mantine/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para el modo oscuro */
body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}